<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{if hasmath}} {{insert head_katex.html }}     {{end}}
    {{if hascode}} {{insert head_highlight.html }}   {{end}}
    {{insert style.html}}
    {{isdef title}} <title>{{fill title}}</title>  {{end}}
	<link rel="icon" href="/assets/favicon.ico">
	<script src="/libs/lunr/lunr.min.js"></script>
    <script src="/libs/lunr/lunr_index.js"></script>
    <script src="/libs/lunr/lunrclient.min.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55201488-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-55201488-2');
    </script>
	<!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
         })(window,document,'script','dataLayer','GTM-W23C5F7');
	</script>
    <!-- End Google Tag Manager -->

</head>

<body>
{{insert nav.html}}


<!-- Content appended here .result-title a { text-decoration: none; }
.result-title a:hover { text-decoration: underline; }
.result-preview { color: #808080; }
.resultCount { color: #808080; }
.result-query { font-weight: bold; }
#lunrSearchForm { margin-top: 1em; } -->
